---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
SpacesBeforeTrailingComments: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignAfterOpenBracket: DontAlign
AlwaysBreakTemplateDeclarations: Yes
