---
BasedOnStyle: LLVM
AlignAfterOpenBracket: DontAlign
SpacesBeforeTrailingComments: 2
ConstructorInitializerAllOnOneLineOrOnePerLine: true
AlignAfterOpenBracket: Align
AlwaysBreakTemplateDeclarations: Yes
