.DS_Store
__pycache__

.coverage
htmlcov

tmp/
gemmini_build/
amx_build/

.ipynb_checkpoints
.exo_c_cache

venv/
dist/

*.egg-info/

*.swp
*~
*#
build
autom4te.cache
configure

dependencies/chipyard

.vscode
