include pyproject.toml

# Include the README
include *.md

# Include setup.py
include setup.py

# Include CMake support files
recursive-include src/exo/cmake *

# Include C source resources from exo.libs
recursive-include src/exo/libs *
