include pyproject.toml

# Include the README
include *.md

# Include setup.py
include setup.py

# Include CMake support files
recursive-include SYS_ATL/cmake *

# Include C source resources from SYS_ATL.libs
recursive-include SYS_ATL/libs *
