name: Packaging
on:
  release:
    types: [ created ]
  push:
    branches: [ 'master' ]
  pull_request:
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - uses: actions/setup-python@v4

      - name: Install Python dependencies
        run: |
          python -m pip install -U pip
          python -m pip install setuptools wheel twine build

      - name: Build Python package
        run: python -m build --sdist --wheel --outdir dist/ .

      # Will only run on release.
      - name: Publish distribution to PyPI
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@master
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
